DEDUPE_DB_SERVER=localhost
DEDUPE_DB_DATABASE=CAG_Analyse
DEDUPE_DB_USER=sa
DEDUPE_DB_PASSWORD=yourStrong(!)Password
DEDUPE_DB_DRIVER=ODBC Driver 17 for SQL Server
DEDUPE_DB_TRUST_SERVER_CERTIFICATE=yes
DEDUPE_DB_ENCRYPT=true
